@import "../../../styles/variables.scss";

.board {
  background: $backgroundLight;
  height: 75vh;
  width: 100%;
  padding: 2rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  box-shadow: $boxShadow;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-content: start;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  @include scrollbar;
}
