@import "../../../styles/variables.scss";

.board {
  box-sizing: border-box;
  background: $backgroundLight;
  height: 100%;
  width: 100%;
  padding: 2em;
  overflow-y: auto;
  scrollbar-width: thin;
  box-shadow: $boxShadow;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-content: start;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  @include scrollbar;
}

.title {
  color: $secondFontColor;
  font-weight: 600;
  text-align: center;
}
