@import "../../../styles/variables.scss";

.title {
  color: $secondFontColor;
  font-weight: 600;
  text-align: center;
}

.board {
  background: $backgroundLight;
  height: 100%;
  width: 100%;
  padding: 2em;
  overflow-y: auto;
  scrollbar-width: thin;
  box-shadow: $cardConShadow;
  border-radius: 4px;
  box-sizing: border-box;

  @include scrollbar;
}
