@import "../../styles/variables.scss";
.modalCon {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $backgroundModal;
  justify-content: center;
  align-items: center;
  @include scrollbar;
  overflow-y: auto;
  display: none;
  z-index: 9999;
}
.modalContent {
  width: 50%;
  height: 70%;
  min-width: 300px;
  box-shadow: $cardConShadow;
  border-radius: 4px;
  background: $backgroundDark;
  position: relative;
  padding: 0.5em;
}
.display {
  display: flex;
}

.modalClose {
  position: absolute;
  top: 0.5em;
  right: 1em;
  color: $secondFontColor;
  font-size: 1.5em;
  font-weight: 600;
  &:hover {
    cursor: pointer;
    color: $placeholderColor;
  }
}
