@import "../../../../styles/variables.scss";

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  @media (max-width: 1200px) {
    width: 80%;
  }
}

.insideForm {
  background-color: rgb(78, 88, 109);
  box-shadow: 1px 1px 3px black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 60%;
  text-align: center;
  @media (max-width: 1200px) {
    width: 90%;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}
