@import '../../styles/variables.scss';
.forgotContainer{
    height: 100vh;
    width: 100vw;
    background: $backgroundDark;
}

.formStyles{
    margin: 0 auto;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    max-width: 350px;
}