@import "../../../styles/variables.scss";


.confirm {
    color: $secondFontColor;
    position: fixed;
    height: 68%;
    width: 49%;
    background-color: $backgroundDark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.display {
     display: none;
}

.confirmWrapper{
    text-align: center;
}
.confirmModal {
    display: flex;
    justify-content: space-between;
    & > Button {
        margin-left: 10px;
    }
}

.wrapper {
  color: $secondFontColor;
  height: 90%;
  display: grid;
  & > div {
    width: 80%;
  }

  h2 {
    text-align: center;
    color: $fontBlue;
    font-weight: 500;
    border-bottom: 1px solid $fontBlue;
  }
}

.moderators {
 
  padding: 0 30px;
  margin: 0 0px;
  & > div {
    padding: 5px;
    box-shadow: 2px 2px 5px #00000073;
    display: flex;
    justify-content: space-between;
  }
}
.promote {
  margin-left: 30px;
  cursor: pointer;
  color: $fontGreen;
  font-weight: 600;
}

.members {
  padding: 0 30px;
  & > div {
    padding: 5px;
    box-shadow: 2px 2px 5px #00000073;
    
    display: flex;
    justify-content: space-between;
  }
}
