@import "../../styles/variables.scss";
.Wrapper {
  @include scrollbar;
  display: grid;
  grid-template-columns: 42vh 1fr;
  height: 100%;
}


@media only screen and (max-width: 800px) {
  .Wrapper {
    grid-template-columns: 13vw 1fr;

    &> :first-child {
      z-index: 1;
    }

    &> :last-child {
      z-index: 0;
    }
  }

  
}