@import "../../../styles/variables.scss";
.navItem {
  box-sizing: border-box;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $mainFontColor;
    &:hover,
    &:active {
      color: $fontActive;
    }
  }
}

a.active {
  color: $fontActive;
}

/* a.activeSideBar */
