@import "../../styles/variables.scss";
.innerWrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5em;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inviteTitle {
  text-align: center;
  grid-column: span 2;
  font-weight: 600;
  color: $secondFontColor;
  font-size: 1.2em;
}

.notification {
  font-weight: 600;
  color: $fontLightGreen;
}
