@import "../../styles/variables.scss";
.forgotContainer {
  background: $backgroundDark;
  height: 100%;
}

.formStyles {
  margin: 0 auto;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  max-width: 350px;
}

.goBackBtn {
  padding: 1em;
}
