@import "styles/variables.scss";

.wrapper {
  height: 100%;
  padding: 1em;
}

.taskInfoWrapper {
  position: relative;
  color: $secondFontColor;
  .innerTaskWrapper {
    display: grid;
    grid-template-rows: 30px 140px 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em 0;
  }
  .taskContent {
    grid-column: span 2;
  }
  .buttonsWrapper {
    position: absolute;
    right: 2.5em;
    display: flex;
    flex-direction: row;
    top: -0.2em;
    gap: 0.3em;
    .iconEdit {
      &:hover {
        cursor: pointer;
        color: $mainFontColor;
      }
    }
    .iconRemove {
      &:hover {
        cursor: pointer;
        color: $invalidInputBorder;
      }
    }
  }
  .taskDeadline {
    color: $invalidInputBorder;
  }
  .taskDate {
    color: $fontLightGreen;
  }
  .taskName {
    color: $fontBlue;
    font-weight: 600;
    font-size: 1.1em;
  }
  .taskStatus {
    font-size: 0.9em;
  }
  .taskDeadline,
  .taskDate {
    font-style: italic;
    font-size: 0.8em;
  }
  .editTaskWrapper {
    padding: 1em 0;
  }
}

.memberContainerWrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  .membersWrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    .noMembers {
      color: $invalidInputBorder;
    }
    .membersTitle {
      font-weight: 600;
      font-size: 1.1em;
      color: $secondFontColor;
    }
    .membersDataWrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;
      .singleMember {
        display: flex;
        flex-direction: row;
        gap: 2em;
        .memberName {
          color: $secondFontColor;
        }
        .memberRole {
          color: $fontActive;
          font-size: 0.9em;
        }
      }
    }
    .enableAddMembersBtnWrapper {
      font-size: 0.8em;
    }
  }
  .membersEditWrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    .membersCheckboxesWrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1em;
    }
    .addMembersBtnWrapper {
      font-size: 0.8em;
    }
  }
}
