@import "../../../styles/variables.scss";

.navListRow {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
  font-weight: 600;
  gap: 3em;
}

.navListColumn {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  font-weight: 600;
  gap: 3em;
}

.navItem {
  box-sizing: border-box;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $mainFontColor;
    &:hover,
    &:active,
    a.active {
      color: $fontActive;
    }
  }
}

.smallSettings {
  height: 2em;
}
.bigSettings {
  height: 2.5em;
  width: auto;
}
