@import "styles/variables.scss";

.innerWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  .title {
    grid-column: span 2;
    text-align: center;
    font-weight: bold;
    color: $buttonBackgroundDangerHover;
  }
}
