@import "../../styles/variables.scss";

.userSettingsContainer {
  max-width: 1444px;
  margin: auto;
  padding: 2rem 10%;
  color: $secondFontColor;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;

  h2 {
    margin-bottom: 0;
  }

  .settingsLabel {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.8rem;
  }

  .profile {
    .name {
      display: flex;
      justify-content: flex-start;

      .icon {
        font-size: 1.6rem;
        align-self: center;
        margin-left: 1rem;
        color: $fontBlue;
        transition: all 1s ease;

        &:hover {
          filter: brightness(1.2);
          cursor: pointer;
        }

        &:active {
          transform: scale(0.9);
        }
      }

      Button {
        margin-left: 1rem;
      }
    }
  }

  .password {
    margin-top: 3rem;

    .passwordContainer {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;

      div {
        margin-right: 2rem;
        margin-bottom: 2rem;
      }

      Button {
        margin-bottom: 2rem;
      }
    }
  }

  .delete {
    color: $buttonBackgroundDangerHover;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    margin-top: 3rem;
    width: fit-content;

    p {
      width: fit-content;
    }

    p:hover {
      text-decoration: underline;
    }

    p:active {
      filter: brightness(0.9);
    }
  }

  .modal {
    color: $buttonBackgroundDangerHover;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;

    div {
      display: flex;
      justify-content: space-around;

      button {
        outline: none;
        border: none;
        border-radius: 6px;
        padding: 0.2rem 1.2rem;
        height: 2.8rem;
        font-size: 1rem;
        text-transform: uppercase;
        color: $secondFontColor;
        background-color: $buttonBackgroundDangerHover;
        filter: drop-shadow(2px 2px 2px #00000056);

        &:hover {
          cursor: pointer;
          filter: brightness(0.9);
        }
      }
    }
  }
}
