@import "../../styles/variables.scss";

.confirmed {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: block;
  height: 100vh;
  width: 100vw;
  background: $backgroundCard;
}

.header {
  background: $backgroundLight;
  padding: 0.5em 1.5em;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.logoWrapper {
  height: 100%;
  font-weight: 600;
  a {
    text-decoration: none;
    color: $fontActive;
  }
}

.logo {
  vertical-align: middle;
  height: 1.9em;
}

.logoTitle {
  padding-left: 1.5em;
  @media (max-width: 920px) and (min-width: 650px) {
    display: none;
  }
}

.logoList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
  gap: 0.5em;
}

.confirmedForm {
  height: 80%;
}
