@import "../../../styles//variables.scss";

.sideBar {
  margin-top: 10%;

  padding: 0;
  height: 95%;
  background-color: $backgroundLight;
  box-shadow: 1px 1px 3px black;
  text-align: center;
  .title {
    color: $fontActive;
    margin: 0;
    padding: 0.5em;
    font-size: 2em;
    border-bottom: 1px solid $fontActive;
  }
  .teamsList {
    color: $secondFontColor;
    font-size: 1.2em;
    margin: 0;
    padding: 1em 0.5em;
    list-style: none;
    text-align: left;
    .activeTeam {
      margin: 0;
      padding: 0.2em 0.5em;
      background: $backgroundDark;
      box-shadow: 1px 1px 2px black;
    }
    & li {
      padding: 0.5em 0;
      margin-bottom: 0.5em;
      border-bottom: 1px solid $fontActive;
      list-style: none;
    }
    .inactiveTeam {
      transition: 0.2s;
      &:hover {
        background-color: $backgroundCardHover;
        cursor: pointer;
      }
    }
  }
  .projectsList {
    text-align: center;
    list-style: none;
    color: $secondFontColor;
    margin: 0.5em 0 0 0;
    padding: 0;
    & > li {
      box-sizing: border-box;
      border: none;
      list-style: none;
      font-size: 0.8em;
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        border: 1px solid $mainFontColor;
      }
    }
  }
}
