@import "../../styles/variables.scss";
.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $invalidInputBorder;
  font-weight: 600;
  padding: 0.4em;
}
