@import "styles/variables.scss";

.container {
  // position: relative;
  width: 65vmax;
  height: 70vh;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  grid-gap: 0.5em;
  color: $secondFontColor;
  max-height: 70vh;
  font-size: 1.2em;
  text-align: center;
  list-style: none;

  .firstColumn {
    position: relative;
    display: grid;
    grid-gap: 0.5em;
    grid-template-rows: 1fr 1fr 1.5fr;
  }
}

.buttonsWrapper {
  position: absolute;
  @media only screen and (max-height: 700px) {
    transform: translateY(-5px);
  }
  @media only screen and (max-width: 1400px) {
    transform: translateY(-5px);
  }
}
@media only screen and (max-width: 1100px) {
  .container {
    grid-template-rows: 3fr 1fr 1fr;
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
  }
  .firstColumn {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
  }
}
