@import "../../../styles//variables.scss";

.square {
  background-color: $backgroundSquare;
  box-shadow: $cardShadow;
  border-radius: 5px;
  padding: 1.2em;
  color: $secondFontColor;
  width: 100%;
  height: 100%;
}
