@import "../../../styles/variables.scss";

.squareCon {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 55vmax;
  height: 35vmax;
  background-color: $backgroundLight;
  box-shadow: 1px 1px 3px black;
}
