@import "../../styles//variables.scss";

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  @media (max-width: 1200px) {
    width: 80%;
  }
}

.insideForm {
  background-color: $backgroundCard;
  box-shadow: 1px 1px 3px black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 60%;
  text-align: center;
  @media (max-width: 1200px) {
    width: 90%;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    .placeholder {
      transition: 0.1s;
      position: absolute;
      transform: translateY(50%);
      color: rgb(0, 0, 0);
      &:hover {
        cursor: pointer;
      }
    }
    input {
      max-width: 320px;
      width: 100%;
      border: 2px solid #ddd;
      appearance: none;
      background-color: rgba(0, 0, 0, 0);
      padding: 12px;
      border-radius: 3px;
      outline: none;
      transition: border-color 0.3s ease-out;
      @media (max-width: 650px) {
        width: 90%;
      }
      &:focus + .placeholder {
        transition: 0.1s;
        transform: translateY(-50%);
        font-size: 0.8em;
        color: #222;
        background: $backgroundCard;
        padding: 0 6px;
      }
      &:focus,
      &:valid {
        border-color: #222;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
