@import "styles/variables.scss";

.container {
  width: 65vmax;
  height: 70vh;
  display: grid;
  color: $secondFontColor;
  grid-gap: 0.5em;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;

  & > :first-child {
    display: grid;
    grid-gap: 0.5em;
    grid-template-rows: 1.7fr 1fr 1fr 1fr;
  }

  & > :last-child {
    display: grid;
    grid-gap: 0.5em;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    grid-template-rows: 5fr 1fr 3fr;
    grid-template-columns: 2fr;
    // border: 1px red solid;
    height: 100%;
    width: 100%;
  }

  .firstColumn {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
  }
}

a {
  color: $fontActive;
  text-decoration: none;
  &:hover {
    color: $placeholderColor;
  }
}
