@import "styles/variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.rightSideWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 95%;
  width: 100%;
}

.title {
  color: $secondFontColor;
  font-weight: 600;
}

.container {
  width: 55vmax;
  height: 35vmax;
  display: grid;
  color: $secondFontColor;
  grid-gap: 0.5em;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  


& > :first-child {
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: 1.7fr 1fr 1fr 1fr;
}


& > :last-child {
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: 1fr 1fr 1fr;
}


}