@import "../../styles/variables.scss";

.header {
  background: $backgroundLight;
  padding: 0.5em 1.5em;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 60px;
}

.hamburger {
  filter: invert(97%) sepia(89%) saturate(434%) hue-rotate(69deg)
    brightness(99%) contrast(96%);
  &:hover {
    cursor: pointer;
    filter: invert(100%) sepia(89%) saturate(434%) hue-rotate(69deg)
      brightness(99%) contrast(96%);
  }
  height: 2.3em;
  @media (min-width: 650px) {
    display: none;
  }
}

@media (max-width: 650px) {
  .navDisplay {
    display: none;
  }
}

.logoWrapper {
  height: 100%;
  font-weight: 600;
  a {
    text-decoration: none;
    color: $fontActive;
  }
}

.logo {
  vertical-align: middle;
  height: 1.9em;
}

.logoTitle {
  padding-left: 1.5em;
  @media (max-width: 920px) and (min-width: 650px) {
    display: none;
  }
}

.logoList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
  gap: 0.5em;
}
