@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

$backgroundLight: #414858;
$backgroundDark: #3a3d50;
$backgroundSquare: #4a4060;
$mainFontColor: #acf7d0;
$secondFontColor: #f3f9f6;
$fontActive: #1cd8f8;
$buttonBackground: #36b3c8;
$fontGreen: #1cf859;
$black: #000;
$backgroundCircle: #3d4371;

$mainFont: "Montserrat", sans-serif;
