@import "../../styles/variables.scss";

.container {
  background: $backgroundDark;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.formContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signInSignUp {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

.signUpForm,
.signInForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.signUpForm {
  opacity: 0;
  z-index: 1;
}

.signInForm {
  z-index: 2;
}

.panelsContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(
    -45deg,
    $backgroundCircle 0%,
    $backgroundCircle 100%
  );
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panelLeft,
.panelRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 6;
  gap: 3em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.panelLeft {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.panelRight {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.content {
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panelRight .image,
.panelRight .content {
  transform: translateX(800px);
}

.container.signUpMode:before {
  transform: translate(100%, -50%);
}

.container.signUpMode .panelLeft .image,
.container.signUpMode .panelLeft .content {
  transform: translateX(-800px);
}

.signUpMode .signInSignUp {
  left: 25%;
}

.signUpMode .signUpForm {
  opacity: 1;
  z-index: 2;
}

.signUpMode .signInForm {
  opacity: 0;
  z-index: 1;
}

.signUpMode .panelRight .image,
.signUpMode .panelRight .content {
  transform: translateX(0%);
}

.signUpMode .panelLeft {
  pointer-events: none;
}

.signUpMode .panelRight {
  pointer-events: all;
}

@media (max-width: 900px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signInSignUp {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }
  .signInSignUp,
  .container.signUpMode .signInSignUp {
    left: 50%;
  }
  .panelsContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }
  .panelLeft,
  .panelRight {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }
  .panelRight {
    grid-row: 3 / 4;
  }
  .panelLeft {
    grid-row: 1 / 2;
  }
  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }
  .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }
  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }
  .container.signUpMode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.signUpMode .panelLeft .image,
  .container.signUpMode .panelLeft .content {
    transform: translateY(-300px);
  }
  .container.signUpMode .panelRight .image,
  .container.signUpMode .panelRight .content {
    transform: translateY(0px);
  }
  .panelRight .image,
  .panelRight .content {
    transform: translateY(300px);
  }
  .container.signUpMode .signInSignUp {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  .form {
    padding: 0 1.5rem;
    width: 190%;
  }
  .image {
    display: none;
  }
  .content {
    padding: 1.5rem;
  }
  .container:before {
    bottom: 72%;
    left: 50%;
  }
  .container.signUpMode:before {
    bottom: 28%;
    left: 50%;
  }
}
