@import "../../styles/variables.scss";

.main {
  background: $backgroundDark;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
